
html,body {
    background: url(https://i.imgur.com/MJAkxbh.png);
}

#Map {
    border: 2px solid grey;
}
#follow-heading{
    font-family: "Permanent Marker", serif;
    text-align:center;
}
.days{
    margin-bottom: 10px;
    /* border: 5px solid black; */
    padding-left: 10px;
    padding-right:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}
#location{
    font-family: "Pacifico", serif;
    font-size: 28px;
}
#pictures{
    font-family: "Hind", serif;
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
}
#pic-desc{
    font-family: "Permanent Marker", serif;
    text-align: center;
    font-size: 20px;
}

#notes{
    font-family: "Hind", serif;
    font-size: 22px;

}

#photo{
    margin-top: 7px;
    margin-bottom: 7px;
    border: 3px solid grey;
    display: cover;
}
