.row{
    margin-top: 20px;
    padding-top: 20px;
    /* border: 5px solid red; */
    margin-bottom: 20px; 
}
.navigation{
    text-align:center;
    font-family: "Permanent Marker", serif;
}

.photo{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
    
}

#d2p4{
    /* transform: rotate(90deg); */
}

#d2p5{
    /* transform: rotate(90deg); */
}

.day-2{
    border-top: 5px solid grey;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.heading{
    font-family: "Permanent Marker", serif;
    font-size: 36px;
    color: teal;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;;
}


/* Gallery Code */
#day{
    font-family: "Permanent Marker", serif;
    color: teal;
    text-align: center;
    font-size: 5vw;
    /* border-bottom: 5px solid grey; */
    margin-bottom: 15px;
}

/* Day Seven */
.gallery-day7{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(40, 6vw);
    grid-gap: 5px;
    /* display: inline-block; */
}

.gallery-day7__item--1{
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 12;
}
.gallery-day7__item--2{
    grid-column-start: 17;
    grid-column-end: 31;
    grid-row-start: 1;
    grid-row-end: 12;
}
.gallery-day7__item--3{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 12;
    grid-row-end: 21;
}
.gallery-day7__item--4{
    grid-column-start: 10;
    grid-column-end: 31;
    grid-row-start: 12;
    grid-row-end: 21;
    display: fill;
}
.gallery-day7__item--5{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 21;
    grid-row-end: 29;
}
.gallery-day7__item--6{
    grid-column-start: 9;
    grid-column-end: 21;
    grid-row-start: 21;
    grid-row-end: 29;
}
.gallery-day7__item--7{
    grid-column-start: 21;
    grid-column-end: 31;
    grid-row-start: 21;
    grid-row-end: 29;
}
.gallery-day7__item--8{
    grid-column-start: 1;
    grid-column-end: 16;
    grid-row-start: 29;
    grid-row-end: 41;
}
.gallery-day7__item--9{
    grid-column-start: 16;
    grid-column-end: 31;
    grid-row-start: 29;
    grid-row-end: 41;
}

/* Day Six */
.gallery-day6{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 6vw);
    grid-gap: 5px;
    /* display: inline-block; */
}

.gallery-day6__item--1{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 15;
}
.gallery-day6__item--2{
    grid-column-start: 8;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 15;
}
.gallery-day6__item--3{
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 15;
    grid-row-end: 21;
}

/* Day Five */
.gallery-day5{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(40, 6vw);
    grid-gap: 5px;
    /* display: inline-block; */
}

.gallery-day5__item--1{
    grid-column-start: 1;
    grid-column-end: 31;
    grid-row-start: 1;
    grid-row-end: 8;
}
/* .gallery-day5__item--2{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 18;
} */
.gallery-day5__item--3{
    grid-column-start: 1;
    grid-column-end: 22;
    grid-row-start: 8;
    grid-row-end: 18;
}
.gallery-day5__item--4{
    grid-column-start: 22;
    grid-column-end: 31;
    grid-row-start: 8;
    grid-row-end: 24;
}
.gallery-day5__item--5{
    grid-column-start: 1;
    grid-column-end: 22;
    grid-row-start: 18;
    grid-row-end: 24;
}
.gallery-day5__item--6{
    grid-column-start: 1;
    grid-column-end: 31;
    grid-row-start: 24;
    grid-row-end: 32;
}
.gallery-day5__item--7{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 32;
    grid-row-end: 41;
}
.gallery-day5__item--8{
    grid-column-start: 10;
    grid-column-end: 23;
    grid-row-start: 32;
    grid-row-end: 36;
}
.gallery-day5__item--9{
    grid-column-start: 10;
    grid-column-end: 23;
    grid-row-start: 36;
    grid-row-end: 41;
}
.gallery-day5__item--10{
    grid-column-start: 23;
    grid-column-end: 31;
    grid-row-start: 32;
    grid-row-end: 41;
}


/* Day Four */
.gallery-day4{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 6vw);
    grid-gap: 5px;
    /* display: inline-block; */
}

.gallery-day4__item--1{
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 1;
    grid-row-end: 9;
}

.gallery-day4__item--2{
    grid-column-start: 17;
    grid-column-end: 31;
    grid-row-start: 1;
    grid-row-end: 9;
}
.gallery-day4__item--3{
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 9;
    grid-row-end: 24;
}
.gallery-day4__item--4{
    grid-column-start: 14;
    grid-column-end: 24;
    grid-row-start: 9;
    grid-row-end: 19;
}
.gallery-day4__item--5{
    grid-column-start: 24;
    grid-column-end: 31;
    grid-row-start: 9;
    grid-row-end: 19;
}
.gallery-day4__item--6{
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 24;
    grid-row-end: 31;
}
.gallery-day4__item--7{
    grid-column-start: 14;
    grid-column-end: 31;
    grid-row-start: 19;
    grid-row-end: 31;
}




/* Day Three */
.gallery-day3{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(40, 6vw);
    grid-gap: 5px;
    /* display: inline-block; */
}

.gallery_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-orientation: from-image;
}
.gallery-day3__item--1{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 11;
}
.gallery-day3__item--2{
    grid-column-start: 11;
    grid-column-end: 31;
    grid-row-start: 1;
    grid-row-end: 8;
}
.gallery-day3__item--3{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 16;
}
.gallery-day3__item--4{
    grid-column-start: 11;
    grid-column-end: 31;
    grid-row-start: 8;
    grid-row-end: 16;
}
.gallery-day3__item--5{
    grid-column-start: 1;
    grid-column-end: 31;
    grid-row-start: 16;
    grid-row-end: 21;
}
.gallery-day3__item--6{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 21;
    grid-row-end: 31;
}
.gallery-day3__item--7{
    grid-column-start: 8;
    grid-column-end: 23;
    grid-row-start: 21;
    grid-row-end: 31;
}
.gallery-day3__item--8{
    grid-column-start: 23;
    grid-column-end: 31;
    grid-row-start: 21;
    grid-row-end: 31;
}
.gallery-day3__item--9{
    grid-column-start: 1;
    grid-column-end: 31;
    grid-row-start: 31;
    grid-row-end: 41;
}



/* Day Two */
.gallery-day2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 30vw);
    grid-gap: 5px;
    /* display: inline-block; */
}
.gallery_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-orientation: from-image;
}
.gallery-day2__item--0{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.gallery-day2__item--1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.gallery-day2__item--2{  
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.gallery-day2__item--3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.gallery-day2__item--4{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.gallery-day2__item--5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.gallery-day2__item--6{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.gallery-day2__item--7{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.gallery-day2__item--8{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}
.gallery-day2__item--9{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.gallery-day2__item--10{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}
.gallery-day2__item--11{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

/* Day One */
.gallery-day1{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 30vw);
    grid-gap: 5px;
    /* display: inline-block; */
}

.gallery_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-orientation: from-image;
}
.gallery-day1__item--1{
    grid-column-start: 1;
    grid-column-end: 4;_
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery-day1__item--2{
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 3;
}

