
html,body {
    background: url(https://i.imgur.com/MJAkxbh.png);
    min-width: 450px;
    max-width: 100%;
    overflow-x: disabled;
}

#Map-Santiago {
    width: 100%;
    /* height: 250px; */
    height: auto;
}

#Title {
    font-size: 20px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: 'Kumar One Outline', cursive;
    color: teal;
}

#top-row { 
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

#Alaa-P {
    /* width:300px;
    height:400px; */
    /* width: 110%; */
    min-width: 200px;
    /* margin:auto; */
    border: 5px solid black;  
    /* text-align:center; */
    /* order: 1;
    align-self: center;
    margin-left: 125px; */
    /* transform: rotate(0deg); */
}
#Alaa-P:hover{
    /* transform: rotate(-16deg); */
}

/* @media screen and (max-width: 849px){
    #ap-desc{
        font-size: 16px;
    }
}
@media screen and (max-width: 850px){
    #ap-desc{
        font-size: 2.8vw;
    }
}*/
@media screen and (max-width: 1330px){
    #ap-desc{
        font-size: 2.8vw;
    }
}
@media screen and (min-width: 1331px){
    #ap-desc{
        font-size: 37px;
    }
} 
#ap-desc{
    /* font-size: 3vw; */
    font-family: 'Permanent Marker', cursive;
    /* font-size: 2.8vw; */
}

#Introduction {
    outline: 5px solid black;
    width: 70%;
    height: 375px;
    min-width:200px;
    max-width:300px;
    min-height: 200px;
    height: 100%;
    font-size: 14px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    /* order: 2; */
    /* align-self: center; */
    /* margin-left: 150px; */
    /* transform: rotate(6deg); */
    color: black;
}
#Introduction:hover{
    /* font-size: 28px; */
}

#intro{
    /* display: inline; */
    font-size: 14px;
    font-family: 'Permanent Marker', cursive;
}
#ap{
    /* This is the picture of us at the top of the page */

}
#appic{
    
    border: 5px solid green;
}
#picdescrip{
    border: 5px solid blue;
    display: inline-block;
}
.JournalWhole {
    background-color: rgba(128, 112, 84, 0.945);
    color: white;
    /* font-family: 'Shadows Into Light', monospace; */
    font-family: 'Permanent Marker', cursive;
}

.btn{
    font-family: 'Permanent Marker', cursive;
}
#JournalIntro {
    font-size: 20px;
    /* padding: 2px 2px 2px 2px;                This padding caused unneeded horizontal scrolling to mobile */                 
    margin: 2px 2px 2px 2px;
}

#JournalDays {
    font-size: 20px;
}

#follow-along-text{
    font-family: "Permanent Marker", Serif;
}
.bottom-row {
    /* width: 100%;
    height: 100%;
    /* display: flex; */
    /* align-items: center;
    text-align: center; */
    /* margin: auto; */
    /* font-family: 'Permanent Marker', cursive;
    color: teal;
    margin-top: 20px; */ 
    max-width: 100%;
    min-width: 375px;
    position: absolute;
    /* right: max; */
    /* bottom: true; */
    width: 100%;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    /* border: 5px solid red; */
    /* text-align: center; */
    text-align: center;
    float: right;


}

#biggie{
    /* border: 5px solid black; */
}

.Email {
    width: 100%;
    /* margin: auto;
    float: left;
    order: 1; */
    font-size: 15px;
    font-family: 'Hind', serif;
    
}
#email-text{
    font-weight: bold;
}
.cordy {
    width: 100%;
    /* height: 100%; */
    /* margin: auto; */
    /* order: 2; */
    /* display: inline; */
}

.CordiBio {
    /* width: 100%; */
    /* height: 100%; */
    /* margin: auto; */
    /* float: right; */
    /* order: 3; */
    font-size: 17px;
    /* font-size: 15px; */
    /* font-family: 'Hind', serif; */
    text-align: left;
    padding-left: 15px;
}
#footer-text{
    padding-top:35px;
    font-size: 1.5vw;
    font-family: "Permanent Marker", Serif;
}
.row{
    margin-top: 15px;
    margin-bottom: 15px;
}

#Corduroy {
    width: 81.25px;
    height: 100px;
    border: 5px solid grey;
    border-radius: 50%;
    /* text-align: center; */
}

#days{
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

a:hover {
    color: gray;
}

h1,h2,h3,ul,footer,form{
    text-align: center;
}

#maintenance {
    /* width: 100%; */
    height:100%;
    /* border: 1px solid black; */
    /* display: block; */
    float: center;
    text-align: center;
}

#mainmain{
    /* min-width: 1200px; */
}

#follow-btn{
    width: 100%;
    margin-top: 3px;
    margin-bottom: 2px;
    color: white;
    font-family: "Lobster", cursive;
    font-size:24px;
    margin-top: 15px;
}
#follow-btn:visited{
    color: white;
    
}

#map-div{
    max-width: 100%;
    /* border: 5px solid red; */
}
#map-container{
    border: 5px solid blue;
}

#journal-p{
    font-family: 'Permanent Marker', monospace;
    padding-left: 10px;
    padding-right: 10px;
}